.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #08101F, #08101F);
}

.signin-button
{
    -fx-background-color: #08101F;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #686A6E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.signin-button:hover
{
     -fx-background-color: #000000;
     -fx-cursor: hand;
}

.signin-button:pressed
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #686A6E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.signup-button
{
    -fx-background-color: #08101F;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #686A6E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.signup-button:hover
{
    -fx-background-color: #000000;
    -fx-cursor: hand;
}

.signup-button:pressed
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #686A6E;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.circle-button:hover
{
    -fx-cursor: hand;
}


.forgot-label:hover
{
    -fx-cursor: hand;
}